.hv-topbar {

    .bx--header__name {
        text-align: left;
        align-items: flex-start;
        flex-flow: column;
    }

    .hv-label {
        color: #f9f9f9;
        font-size: 1.0rem;
        font-weight: normal;
        line-height: 1.0rem;
        margin: 0;
        padding: 0;
    }

    .hv-creator {
        color: #f9f9f9;
        font-size: 0.9rem;
        font-weight: bold;
        margin: 0;
        padding: 0;
    }

    .hv-logo {
        max-height: 100%;
    }
}
