.hv-topbar {
    color: #f3f3f3;
    width: 100%;
    padding: 0;
    border: none;
    z-index: 100;
    box-shadow: 0 0 3px 2px #dcdcdc;
    background-color: $theme-color-topbar-background;

    .hv--logo {
        max-height: 60px;
        display: block;
    }

    h1 {
        color: #50565b;
        font-size: 1.3rem;
        font-weight: 200;
        margin: 0;
        padding: 0;
    }

    a {
        color: #6f6f6f;
        font-size: 0.9rem;
        font-weight: normal;
        margin: 0.1rem 0 0 0;
        padding: 0;
    }
}
