harmonized-embed {
    position: relative;
    display: block;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;

    embed, object {
        position: absolute;
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        align-items: center;
        justify-content: center;

        > span {
            width: 100%;
            padding: 0 15px;
            text-align: center;
            white-space: pre-wrap;
        }
    }
}
