harmonized-embed {
    position: relative;
    display: block;
    height: 100%;
    width: 100%;

    embed {
        position: absolute;
    }

    &.pdf-ie11 {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        padding: 25px;
        align-items: center;
        justify-content: center;

        > p {
            width: 100%;
            text-align: center;
        }
    }
}
