@mixin ghost {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.1) 25%, rgba(0, 0, 0, 0.05) 37%, rgba(0, 0, 0, 0.1) 63%);
    background-size: 400% 100%;
    animation: ghost-loading 1.4s ease infinite;
}

@keyframes ghost-loading {
    0% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}
