$theme-color-primary: #8a3ffc;
$theme-color-background: #F3F3F3;
$theme-color-topbar-background: #FFFFFF; // #434C5E
$theme-color-toolbar-background: #F0F3F9;
$theme-color-navigation-background: #F3F3F3;