$theme-color-primary: #97c1ff;
$theme-color-background: #F5F6F6;
$theme-color-topbar-background: #3c4245; // #434C5E
$theme-color-toolbar-background: #F5F6F6;
$theme-color-navigation-background: #F5F6F6;
$theme-color-status-background: #F5F6F6;