$fa-font-path: "../assets/fontawesome/webfonts";

$theme-color-primary: #97c1ff;
$theme-color-background: #f5f6f6;
$theme-color-topbar-background: #3c4245; // #434C5E
$theme-color-toolbar-background: #f5f6f6;
$theme-color-navigation-background: #f5f6f6;
$theme-color-status-background: #f5f6f6;
