@import "bulma/sass/utilities/_all.sass";
@import "@material/image-list/mdc-image-list.scss";

harmonized-image-list {
    $padding: 8px;

    display: block;

    @include mdc-image-list-aspect(5/6);

    @media (min-width: 1200px) {
        @include mdc-image-list-standard-columns(16, $padding);
        max-width: 1600px;
    }
    @media (max-width: 1199px) {
        @include mdc-image-list-standard-columns(12, $padding);
    }
    @media (max-width: 959px) {
        @include mdc-image-list-standard-columns(8, $padding);
    }
    @media (max-width: 599px) {
        @include mdc-image-list-standard-columns(4, $padding);
    }

    &.mdc-image-list--1col {
        @include mdc-image-list-standard-columns(1, $padding);
    }

    &.mdc-image-list--2col {
        @include mdc-image-list-standard-columns(2, $padding);
    }

    &.mdc-image-list--16col {
        @include mdc-image-list-standard-columns(16, $padding);
    }
}
