@import "_variables";
@import "_animations";

$mdc-theme-primary: #5e81ac;
$mdc-theme-background: hsl(218, 20%, 97%);
$mdc-theme-tooltip-text: #eceff4;
$mdc-theme-tooltip-background: #4c566a;

.harmonized-viewer {
  @import "@material/elevation/mdc-elevation";
  @import "@material/ripple/mdc-ripple";
  @import "@material/button/mdc-button";
  @import "@material/icon-button/mdc-icon-button";
  @import "@material/drawer/mdc-drawer";
  @import "@material/list/mdc-list";
  @import "@material/menu-surface/mdc-menu-surface";
  @import "@material/menu/mdc-menu";
  @import "@material/image-list/mdc-image-list";
  @import "@material/layout-grid/mdc-layout-grid";
  @import "@material/top-app-bar/mdc-top-app-bar";

  height: 100%;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  background-color: $mdc-theme-background;

  // .#{$ns}button {
  //   @extend .mdc-button;
  //   @include mdc-button-core-styles;
  // }

  // .#{$ns}button-icon {
  //   @extend .mdc-icon-button;
  //   @include mdc-button-without-ripple;
  // }

  .#{$ns}topbar {
    @extend .mdc-top-app-bar;
    @include mdc-top-app-bar-ink-color(#ffffff);
    @include mdc-top-app-bar-fill-color(#3b4252);

    z-index: 99999;

    &__header {
      box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
    }
  }

  .#{$ns}toolbar {
    @extend .mdc-layout-grid;
    width: 100%;
    height: 54px;
    padding: 0.6rem;
    display: flex;
    //margin-top: 0.1rem;
    background-color: #ffffff;

    .mdc-button {
      @include mdc-button-horizontal-padding(0.8rem);
      @include mdc-button-icon-color(hsl(230, 34%, 73%));
      @include mdc-button-ink-color(#777);
      @include mdc-button-shape-radius(2px);
      @include mdc-ripple-surface();
      @include mdc-ripple-radius-bounded();
      //@include mdc-states();
      @include mdc-states(#446cb3, false);

      height: 36px;
      padding: 0 0.8rem;

      .mdc-button__icon {
        width: 22px;
        height: 22px;
        font-size: 22px;
      }

      .#{$ns}button__icon-dropdown {
        margin-left: 4px;
      }

      .mdc-button__label {
        font-size: 16px;
        letter-spacing: 0;
        text-transform: none;
      }
    }
  }

  .mdc-top-app-bar--prominent-fixed-adjust {
    padding-top: 118px;
  }

  .mdc-drawer {
    @include mdc-drawer-width(300px);
    @include mdc-drawer-z-index(9999);
    background-color: hsl(220, 12%, 40%);

    .os-scrollbar-vertical {
      width: 15px;

      .os-scrollbar-handle {
        border-radius: 2px;
      }
    }

    &--right {
      -webkit-transform: translateX(107%);
      transform: translateX(107%);
      -webkit-transform: translateX(calc(100% + 20px));
      transform: translateX(calc(100% + 20px));
      left: auto;
      right: 0;
    }

    &--right .mdc-drawer__drawer {
      -webkit-transform: none;
      transform: none;
    }

    & ~ .mdc-drawer-app-content {
      flex: 1;
      display: flex;
      flex-direction: column;
    }

    &__content {
      padding: 1.4rem 1.6rem;

      .#{$ns}image-list {
        @include mdc-image-list-standard-columns(2, 8px);

        &.#{$ns}aspect-ratio--1-1 {
          @include mdc-image-list-aspect(1/1);
        }
        &.#{$ns}aspect-ratio--5-4 {
          @include mdc-image-list-aspect(5/4);
        }
        &.#{$ns}aspect-ratio--4-3 {
          @include mdc-image-list-aspect(4/3);
        }
        &.#{$ns}aspect-ratio--3-2 {
          @include mdc-image-list-aspect(3/2);
        }
        &.#{$ns}aspect-ratio--16-9 {
          @include mdc-image-list-aspect(16/9);
        }
        &.#{$ns}aspect-ratio--3-1 {
          @include mdc-image-list-aspect(3/1);
        }

        &.disabled {
          .mdc-image-list__item {
            .mdc-image-list__image-aspect-container {
              opacity: 0.4;
              background-color: #777;
            }
            .mdc-image-list__supporting {
              opacity: 0;
            }
          }
        }

        .mdc-image-list__item {
          margin-bottom: 0.4rem;

          &.active {
            .mdc-image-list__image-aspect-container {
              opacity: 1;
              filter: grayscale(0%);
              box-shadow: 0 0 0 3px #ebcb8b;
            }
          }

          .mdc-image-list__image-aspect-container {
            @extend .mdc-elevation--z6;

            filter: grayscale(40%);

            opacity: 0.5;
            display: block;
            border-radius: 2px;
            border: #000 2px solid;
            transition: all 250ms ease;
            background-color: #000;

            &:hover {
              opacity: 1;
              filter: grayscale(0%);
              box-shadow: 0 0 0 3px rgba(216, 222, 233, 0.7);

              & .mdc-image-list__supporting {
                background-color: rgba(0, 0, 0, 0.7);

                .mdc-image-list__label {
                  color: rgba(255, 255, 255, 1);
                }
              }
            }
          }

          .mdc-image-list__supporting {
            height: auto;
            padding: 4px;
            margin-top: 0.2rem;
            justify-content: center;
            transition: all 200ms ease;
            border-bottom-left-radius: 2px;
            border-bottom-right-radius: 2px;
            background-color: hsl(220, 12%, 34%);

            .mdc-image-list__label {
              color: #ccc;
              font-size: 0.8rem;
              line-height: 0.9rem;
            }
          }
        }
      }
    }
  }

  .#{$ns}content {
    height: 100%;
    display: flex;
    flex: auto;
    flex-direction: column;
  }

  .#{$ns}viewport {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .#{$ns}button__prev {
      @extend .mdc-elevation--z1;
      left: 1rem;
      font-size: 4rem;
      position: absolute;
      background-color: #fff;
    }
  }

  .#{$ns}error {
    text-align: center;

    &-icon {
      color: #bf616a;
      display: block;
      font-size: 6rem;
      margin-bottom: 1rem;
    }
  }

  .#{$ns}spinner {
    animation: spinAround 1s ease-in-out infinite;
    border-width: 4px;
    border-color: rgba(0, 0, 0, 0.1);
    border-top-color: rgba(0, 0, 0, 0.4);
  }

  .#{$ns}placeholder {
    position: static;
    overflow: hidden;
    animation: #{$ns}placeholder 2s ease;
    animation-iteration-count: infinite;
    background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.02) 15%,
      rgba(255, 255, 255, 0.1)
    );
    background-size: 1200px 100%;
  }

  .tippy-tooltip.hv-theme {
    opacity: 0.9;
    color: $mdc-theme-tooltip-text;
    background-color: $mdc-theme-tooltip-background;
    font-size: 1rem;
    padding: 0.4rem 0.7rem;
  }

  .tippy-tooltip.hv-theme[data-animatefill] {
    background-color: transparent;
  }

  .tippy-tooltip.hv-theme .tippy-backdrop {
    background-color: $mdc-theme-tooltip-background;
  }
}
