@import "_variables";
@import "_animations";

$mdc-theme-primary: #5e81ac;

.harmonized-viewer {
  @import "@material/elevation/mdc-elevation";
  @import "@material/ripple/mdc-ripple";
  @import "@material/button/mdc-button";
  @import "@material/icon-button/mdc-icon-button";
  @import "@material/drawer/mdc-drawer";
  @import "@material/list/mdc-list";
  @import "@material/image-list/mdc-image-list";
  @import "@material/layout-grid/mdc-layout-grid";
  @import "@material/top-app-bar/mdc-top-app-bar";

  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #efeff1;

  // .#{$ns}button {
  //   @extend .mdc-button;
  //   @include mdc-button-core-styles;
  // }

  // .#{$ns}button-icon {
  //   @extend .mdc-icon-button;
  //   @include mdc-button-without-ripple;
  // }

  .#{$ns}topbar {
    @extend .mdc-top-app-bar;
    @include mdc-top-app-bar-ink-color(#ffffff);
    @include mdc-top-app-bar-fill-color(#434356);
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
    z-index: 99999;

    &__row {
      @extend .mdc-top-app-bar__row;
    }

    &__section {
      @extend .mdc-top-app-bar__section;
    }
  }

  .#{$ns}toolbar {
    @extend .mdc-layout-grid;
    width: 100%;
    padding: 0.6rem;
    margin-top: 0.1rem;
    background-color: #ffffff;

    .mdc-button {
      @include mdc-button-horizontal-padding(0.8rem);
      @include mdc-button-icon-color(#434356);
      @include mdc-button-ink-color(#777);
      @include mdc-button-shape-radius(2px);
      @include mdc-ripple-surface();
      @include mdc-ripple-radius-bounded();
      //@include mdc-states();
      @include mdc-states(#446cb3, false);

      height: 36px;
      padding: 0 0.8rem;

      .mdc-button__icon {
        width: 22px;
        height: 22px;
        font-size: 22px;
      }

      .mdc-button__label {
        font-size: 16px;
        letter-spacing: 0;
        text-transform: none;
      }
    }
  }

  .mdc-drawer {
    @include mdc-drawer-width(300px);
    @include mdc-drawer-z-index(9999);
    background-color: #d8dee9;

    & + .mdc-drawer-app-content {
      flex: 1;
      display: flex;
      flex-direction: column;
    }

    &__content {
      padding: 1rem;

      .#{$ns}image-list {
        @include mdc-image-list-aspect(5/6);
        @include mdc-image-list-standard-columns(2, 9px);

        .mdc-image-list__item {
          //@extend .mdc-elevation--z1;

          .mdc-image-list__image-aspect-container {
            display: block;
            border-radius: 1px;
            transition: box-shadow 200ms ease;

            &:hover {
              box-shadow: 0 0 0 4px #4C566A;
            }
          }
        }
      }
    }
  }

  .#{$ns}content {
    height: 100%;
    display: flex;
    flex: auto;
    flex-direction: column;
  }

  .#{$ns}viewport {
    height: 100%;
  }

  .#{$ns}spinner {
    animation: spinAround 1s ease-in-out infinite;
    border-width: 4px;
    border-color: rgba(0, 0, 0, 0.1);
    border-top-color: rgba(0, 0, 0, 0.4);
  }

  .#{$ns}placeholder {
    position: static;
    overflow: hidden;
    animation: #{$ns}placeholder 2s ease;
    animation-iteration-count: infinite;
    background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.02) 15%,
      rgba(255, 255, 255, 0.1)
    );
    background-size: 1200px 100%;
  }

  .tippy-tooltip.tomato-theme {
    background-color: #4C566A;
    color: #fff;
    font-size: 1.0rem;
    padding: 0.4rem 0.7rem;
  }
  
  .tippy-tooltip.tomato-theme[data-animatefill] {
    background-color: transparent;
  }
  
  .tippy-tooltip.tomato-theme .tippy-backdrop {
    background-color: #4C566A;
  }
}
