@import "_variables";
@import "_animations";

$mdc-theme-primary: hsl(243.8, 49%, 46.9%);
$mdc-theme-background: hsl(246, 33.3%, 97.1%);
$mdc-theme-topbar-background: hsl(235, 11.8%, 40%);
$mdc-theme-toolbar-background: hsl(246, 33.3%, 97.1%);
$mdc-theme-navigation-background: hsl(235.7, 12.3%, 88.8%);
$mdc-theme-navigation-button-background: #fff;
$mdc-theme-tooltip-text: #fff;
$mdc-theme-tooltip-background: rgba(0, 0, 0, 0.7);

.harmonized-viewer {
  @import "@material/elevation/mdc-elevation";
  @import "@material/ripple/mdc-ripple";
  @import "@material/button/mdc-button";
  @import "@material/icon-button/mdc-icon-button";
  @import "@material/drawer/mdc-drawer";
  @import "@material/list/mdc-list";
  @import "@material/dialog/mdc-dialog";
  @import "@material/select/mdc-select";
  @import "@material/linear-progress/mdc-linear-progress";
  @import "@material/menu-surface/mdc-menu-surface";
  @import "@material/menu/mdc-menu";
  @import "@material/image-list/mdc-image-list";
  @import "@material/layout-grid/mdc-layout-grid";
  @import "@material/top-app-bar/mdc-top-app-bar";

  @import "overlayscrollbars/css/OverlayScrollbars";
  @import "nouislider/distribute/nouislider";

  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  overflow-x: hidden;
  flex-direction: column;
  background-color: $mdc-theme-background;

  // .#{$ns}button {
  //   @extend .mdc-button;
  //   @include mdc-button-core-styles;
  // }

  // .#{$ns}button-icon {
  //   @extend .mdc-icon-button;
  //   @include mdc-button-without-ripple;
  // }

  .#{$ns}settings {
    @include mdc-dialog-min-width(600px);
    @include mdc-dialog-shape-radius(2px);
    //@include mdc-dialog-scrim-color(#000000, 0.2);
    //@include mdc-dialog-background(#f0f1f5);

    .mdc-dialog__title {
      font-size: 1rem;
      text-transform: uppercase;
    }

    .mdc-dialog__button {
      @include mdc-button-horizontal-padding(1rem);
      @include mdc-button-shape-radius(3px);
    }

    footer {
      padding: 1rem 1.5rem;
      background-color: #f0f1f5;
    }

    .#{$ns}settings {
      @include mdc-layout-grid("desktop", 0);

      &__inner {
        @include mdc-layout-grid-inner("desktop", 0, 12px);
      }

      &__cell-label {
        @include mdc-layout-grid-cell("desktop", 4, 12px);
      }

      &__cell-control {
        @include mdc-layout-grid-cell("desktop", 8, 12px);

        .full-width {
          width: 100%;
        }
      }
    }
  }

  .#{$ns}topbar {
    @extend .mdc-top-app-bar;
    @include mdc-top-app-bar-ink-color(#ffffff);
    @include mdc-top-app-bar-fill-color($mdc-theme-topbar-background);

    z-index: 99999;

    .mdc-top-app-bar__row {
      box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
    }

    .mdc-top-app-bar__navigation-icon {
      color: #fff;
    }

    .hv-manifest__content-type {
      @extend .mdc-button;
      @include mdc-button-ink-color(#fff);
    }
  }

  .#{$ns}toolbar {
    @include mdc-layout-grid("desktop", 15px);

    width: 100%;
    //height: 60px;
    padding: 0.2rem;
    margin-top: 0.2rem;
    border-bottom: #fff 1px solid;
    background-color: $mdc-theme-toolbar-background;

    .#{$ns}toolbar__inner {
      @include mdc-layout-grid-inner("desktop", 0, 12px);
    }

    .#{$ns}toolbar__cell {
      @include mdc-layout-grid-cell("desktop", 0, 12px);

      &--right {
        text-align: right;
      }
    }

    .mdc-button,
    .mdc-icon-button {
      //@include mdc-button-filled-accessible(#fff);
      @include mdc-button-horizontal-padding(1.2rem);
      @include mdc-button-icon-color(#8897a2);
      @include mdc-button-ink-color(#152934);
      @include mdc-button-shape-radius(2px);

      height: 40px;

      .mdc-button__icon {
        width: 22px;
        height: 22px;
        font-size: 22px;

        margin-right: 0;
      }

      .mdc-button__label {
        font-size: 15px;
        font-weight: normal;

        margin-left: 8px;
        letter-spacing: 0;
        text-transform: none;
      }
    }

    // .mdc-button {
    //   @include mdc-button-horizontal-padding(0.8rem);
    //   @include mdc-button-icon-color(#ccd1d9);
    //   @include mdc-button-icon-color(#ccd1d9);
    //   @include mdc-button-ink-color(#434a54);
    //   @include mdc-button-shape-radius(2px);
    //   @include mdc-ripple-surface();
    //   @include mdc-ripple-radius-bounded();
    //   @include mdc-states();

    //   height: 36px;
    //   padding: 0 0.8rem;

    //   .mdc-button__icon {
    //     width: 22px;
    //     height: 22px;
    //     font-size: 22px;
    //   }

    //   .#{$ns}button__icon-dropdown {
    //     margin-left: 4px;
    //   }

    //   .mdc-button__label {
    //     font-size: 15px;
    //     font-weight: normal;
    //     letter-spacing: 0;
    //     text-transform: none;
    //   }
    // }
  }

  // .mdc-top-app-bar--prominent-fixed-adjust {
  //   padding-top: 118px;
  // }

  .#{$ns}paging {
    display: flex;
    padding: 0.8rem 1.4rem;
    margin-top: 0.1rem;
    box-shadow: 0 0 3px 1px #eee;
    background-color: #fff;

    .#{$ns}paging__status {
      color: #aab2bd;
      width: 100px;
      font-size: 0.9rem;
      text-align: center;

      &-page,
      &-total {
        padding: 0 0.3rem;
      }
    }

    .#{$ns}paging__slider {
      flex: 1;
      margin-left: 50px;
      border: none;
      box-shadow: none;
      border-radius: 2px;

      .noUi-origin {
        .noUi-handle {
          cursor: pointer;
        }
      }
    }

    // LTR handle positioning
    //html:not([dir="rtl"]) .noUi-horizontal .noUi-origin {
    .noUi-horizontal .noUi-origin {
      left: auto;
      right: 0;
    }

    // LTR handle positioning
    //html:not([dir="rtl"]) .noUi-horizontal .noUi-handle {
    .noUi-horizontal .noUi-handle {
      right: -17px;
      left: auto;
    }
  }

  .mdc-drawer {
    @include mdc-drawer-width(220px);
    @include mdc-drawer-z-index(9999);

    border: none;
    border-right: #fff 2px solid;

    &.#{$ns}navigation {
      background-color: $mdc-theme-navigation-background;
    }

    .os-scrollbar {
      &.os-scrollbar-vertical {
        width: 15px;

        .os-scrollbar-track {
          .os-scrollbar-handle {
            border-radius: 2px;
          }
        }
      }
    }

    & ~ .mdc-drawer-app-content {
      flex: 1;
      display: flex;
      flex-direction: column;
    }

    & ~ .mdc-drawer-app-content {
      margin-left: 0 !important;
      margin-right: 0 !important;
    }

    &.#{$ns}navigation.mdc-drawer--open:not(.mdc-drawer--closing) ~ .mdc-drawer-app-content {
      margin-left: 220px !important;
    }
    &.#{$ns}annotations.mdc-drawer--open:not(.mdc-drawer--closing) ~ .mdc-drawer-app-content {
      margin-right: 220px !important;
    }

    &.#{$ns}annotations {
      line-height: 1.4rem;

      dl {
        dt {
          font-weight: bold;
        }
        dd {
          margin: 0 0 1.5rem 0;
          padding: 0;
        }
      }
    }

    &__content {
      padding: 1.6rem calc(1.6rem - 15px) 1.6rem 1.6rem;

      .#{$ns}image-list {
        @include mdc-image-list-standard-columns(2, 10px);

        &.#{$ns}aspect-ratio--1-1 {
          @include mdc-image-list-aspect(1/1);
        }
        &.#{$ns}aspect-ratio--5-4 {
          @include mdc-image-list-aspect(5/4);
        }
        &.#{$ns}aspect-ratio--4-3 {
          @include mdc-image-list-aspect(4/3);
        }
        &.#{$ns}aspect-ratio--3-2 {
          @include mdc-image-list-aspect(3/2);
        }
        &.#{$ns}aspect-ratio--16-9 {
          @include mdc-image-list-aspect(16/9);
        }
        &.#{$ns}aspect-ratio--3-1 {
          @include mdc-image-list-aspect(3/1);
        }

        .mdc-image-list__item {
          margin-bottom: 0;

          .#{$ns}thumbnail {
            display: block;
            border-radius: 1px;
            border: #fff 2px solid;
            transition: all 250ms ease;
            box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.1);

            .mdc-image-list__image {
              filter: grayscale(50%);
              transition: all 250ms ease;
            }

            .#{$ns}lazyload--loading {
              .mdc-image-list__image,
              .mdc-image-list__supporting {
                animation: #{$ns}placeholder 2s linear;
                animation-iteration-count: infinite;
                background: linear-gradient(90deg, #f2f2f2 25%, #e6e6e6 37%, #f2f2f2 63%);
                background-size: 400% 100%;
                background-size: 1200px 100%;
              }
            }

            &:hover {
              .mdc-image-list__image {
                filter: grayscale(0%);
              }

              box-shadow: 0 0 0 3px #ccc;
            }

            &--active,
            &--active:hover {
              box-shadow: 0 0 0 3px $mdc-theme-primary;
            }
          }

          .mdc-image-list__supporting {
            height: 20px;
            border-radius: 2px;
            justify-content: center;
            padding: 0.3rem 0.6rem;
            margin: 0.2rem 0 0.3rem 0;
            transition: all 200ms ease;

            .mdc-image-list__label {
              color: #4c566a;
              font-size: 0.8rem;
              line-height: 0.8rem;
            }
          }
        }
      }
    }
  }

  .#{$ns}content {
    height: 100%;
    display: flex;
    flex: auto;
    flex-direction: column;
  }

  .#{$ns}viewport {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      .#{$ns}button__prev,
      .#{$ns}button__next {
        opacity: 1;
      }
    }

    .#{$ns}button__prev,
    .#{$ns}button__next {
      //@extend .mdc-elevation--z4;

      opacity: 0;
      width: auto;
      min-width: 48px;
      height: auto;
      padding: 1.5rem 0.5rem;
      position: absolute;
      z-index: 99999;
      transition: opacity 200ms ease;

      .mdc-button__icon {
        width: auto;
        height: auto;
        font-size: 26px;
        margin: 0;
      }

      //@include mdc-button-horizontal-padding(2.0rem);
      @include mdc-button-container-fill-color($mdc-theme-navigation-button-background);
      @include mdc-button-ink-color(#9aa1af);
      @include mdc-button-shape-radius(3px);
      @include mdc-ripple-surface();
      @include mdc-ripple-radius-bounded();
      @include mdc-states();
    }

    .#{$ns}button__prev {
      left: 0;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    .#{$ns}button__next {
      right: 0;
    }
  }

  .#{$ns}error {
    text-align: center;

    &-icon {
      color: #bf616a;
      display: block;
      font-size: 6rem;
      margin-bottom: 1rem;
    }
  }

  .#{$ns}placeholder {
    background-color: $mdc-theme-background;

    position: static;
    overflow: hidden;
    animation: #{$ns}placeholder 2s ease;
    animation-iteration-count: infinite;
    background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0) 15%,
      rgba(255, 255, 255, 0.1)
    );
    background-size: 1200px 100%;
  }

  .tippy-tooltip.hv-theme {
    opacity: 0.9;
    color: $mdc-theme-tooltip-text;
    background-color: $mdc-theme-tooltip-background;
    font-size: 1rem;
    padding: 0.3rem 0.6rem;
  }

  .tippy-tooltip.hv-theme[data-animatefill] {
    background-color: transparent;
  }

  .tippy-tooltip.hv-theme .tippy-backdrop {
    background-color: $mdc-theme-tooltip-background;
  }

  .#{$ns}progress-bar {
    @include mdc-linear-progress-bar-color(#5d9cec);
    position: absolute;
    z-index: 9999;
  }
}
