harmonized-button {
    @import '@material/button/mdc-button';
    @import '@material/icon-button/mdc-icon-button';

    display: flex;

    &.circle > button {
        border-radius: 50%;
        box-shadow: rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px, rgba(0, 0, 0, 0.2) 0px 3px 1px -2px;
    }

    .mdc-button {
        @include mdc-button-ink-color(#fff);

        .mdc-button__label {
            font-weight: normal;
        }

        &.full-width {
            width: 100%;
        }

        &[disabled] {
            @include mdc-button-ink-color(#383838);
        }

        &.mdc-button--raised {
            @include mdc-button-filled-accessible(#282828);
        }

        .dropdown-arrow svg {
            margin-right: 0;
        }
    }

    .mdc-icon-button {
        @include mdc-icon-button-ink-color(#fff);

        &[disabled] {
            @include mdc-icon-button-ink-color(#383838);
        }

        &--sm {
            @include mdc-icon-button-icon-size(18px, 18px);
            min-width: 36px;
        }
        &--md {
            @include mdc-icon-button-icon-size(30px, 30px);
            min-width: 60px;
        }
        &--lg {
            @include mdc-icon-button-icon-size(60px, 60px);
            min-width: 120px;
        }
    }
}

.harmonized-viewer-theme--light harmonized-button {
    @import '@material/button/mixins';
    @import '@material/icon-button/mixins';
    
    &.circle > button {
        background-color: #fff;
    }

    .mdc-button {
        @include mdc-button-ink-color(#46494c);
        &[disabled] {
            @include mdc-button-ink-color(#c5c3c6);
        }
    }
    .mdc-icon-button {
        @include mdc-icon-button-ink-color(#46494c);
        &[disabled] {
            @include mdc-icon-button-ink-color(#c5c3c6);
        }
    }
}

// ie11 fix
.white-text harmonized-button button {
    color: #fff !important;
}