harmonized-button {
    @import '@material/button/mixins';
    @import '@material/icon-button/mixins';

    display: flex;

    .mdc-button {
        @include mdc-button-ink-color(#fff);

        .mdc-button__label {
            font-weight: normal;
        }

        &.full-width {
            width: 100%;
        }

        &[disabled] {
            @include mdc-button-ink-color(#383838);
        }

        &.mdc-button--raised {
            @include mdc-button-filled-accessible(#282828);
        }

        .dropdown-arrow svg {
            margin-right: 0;
        }
    }

    .mdc-icon-button {
        @include mdc-icon-button-ink-color(#fff);

        &[disabled] {
            @include mdc-icon-button-ink-color(#383838);
        }

        &--sm {
            @include mdc-icon-button-icon-size(18px, 18px);
        }
        &--md {
            @include mdc-icon-button-icon-size(30px, 30px);
        }
        &--lg {
            @include mdc-icon-button-icon-size(30px, 30px);
        }
    }
}
