@import "@material/button/mdc-button";
@import "@material/icon-button/mdc-icon-button";

harmonized-button {
    @extend .mdc-touch-target-wrapper;
    display: flex;

    button {
        @extend .mdc-button--touch;

        //@include mdc-button-shape-radius(2px);
        @include mdc-button-ink-color(#fff);

        .mdc-button__label {
            font-weight: normal;
        }

        &.full-width {
            width: 100%;
        }

        &[disabled] {
            @include mdc-button-ink-color(#383838);
        }

        &.mdc-button--raised {
            @include mdc-button-filled-accessible(#282828);

            .mdc-button__icon {
                margin-left: 0;
                margin-right: 4px;
            }
        }
    }

    .mdc-icon-button {
        @include mdc-icon-button-ink-color(#fff);

        &--sm {
            @include mdc-icon-button-icon-size(18px, 18px);
        }
        &--md {
            @include mdc-icon-button-icon-size(30px, 30px);
        }
        &--lg {
            @include mdc-icon-button-icon-size(36px, 36px);
        }

        &[disabled] {
            @include mdc-icon-button-ink-color(#383838);
        }
    }
}
