@import "../../global/variables";
@import "@material/list/mdc-list";

hv-annotations {
    height: 100%;
    display: block;
    background-color: #181818;

    .mdc-list {
        &.mdc-list--two-line.mdc-list--dense {
            .mdc-list-item {
                height: auto !important;
            }
        }

        .mdc-list-item {
            margin: 0;
            padding: 14px 16px;
            animation-delay: 0 !important;

            .annotation-icon {
                display: none;
                &--collapse {
                    display: inline;
                }
            }

            &.is-collapsed {
                .annotation-icon {
                    display: inline;
                    &--collapse {
                        display: none;
                    }
                }
            }

            &__text {
                width: 100%;
            }

            &__primary-text,
            &__secondary-text {
                &::before,
                &::after {
                    display: none;
                    vertical-align: initial;
                }
            }

            &__primary-text {
                color: darken(desaturate($link, 60), 5);
                width: 100%;
                display: flex;
                margin-bottom: 3px;
                align-items: center;
                position: relative;
                justify-content: space-between;
                text-transform: uppercase;

                svg {
                    width: 16px;
                    height: 16px;
                    fill: #757575;
                }
            }

            &__secondary-text {
                color: #fff;
                line-height: 1.5;

                a {
                    &:link {
                        color: $link;
                    }
                    &:visited {
                        color: $link-visited;
                    }
                }
            }

            &:not(.is-collapsed) {
                .mdc-list-item__secondary-text {
                    text-overflow: initial;
                    white-space: initial;
                    overflow: visible;
                }
            }
        }

        &--dense {
            .mdc-list-item {
                .mdc-list-item__primary-text {
                    font-size: 12px;
                }
            }
        }
    }
}
