<div class="hv-modal_settings ui small modal">
    <div class="header">
        Settings
    </div>
    <div class="content">
        <div class="ui grid">
            <div class="two column row">
                <div class="eight wide column">
                    <h5 class="ui small header">Language</h5>
                    <p>
                        Choose your preferred language for the Harmonized Viewer's interface.
                    </p>
                </div>
                <div class="eight wide column">
                    <div class="ui fluid selection dropdown">
                        <i class="dropdown icon"></i>
                        <div class="default text">
                            Select a language
                        </div>
                        <div class="menu">
                            <div class="item" data-value="en">
                                <i class="gb uk flag"></i>
                                English
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="actions">
        <div class="ui black deny button">
            Cancel
        </div>
        <div class="ui positive right button">
            Apply
        </div>
    </div>
</div>