.hv-statusbar {
    margin: 0;

    .bx--pagination {
        border: none;
        background-color: $theme-color-status-background;
    }

    .bx--content-switcher {
        justify-content: start;

        .bx--content-switcher-btn {
            width: auto;
            font-size: 0.8rem;
        }
    }
}
