harmonized-tabs {
    @import '@material/tab-bar/mixins';
    @import '@material/tab-scroller/mixins';
    @import '@material/tab-indicator/mixins';
    @import '@material/tab/mixins';

    display: flex;
    flex-direction: column;
    height: 100%;

    .mdc-tab-bar {
        flex: 0;

        .mdc-tab-scroller__scroll-area--scroll {
            overflow-x: auto;
        }

        .mdc-tab {
            line-height: 1.25rem;

            @include mdc-tab-height(40px);

            @include mdc-tab-ink-color(#686868);
            @include mdc-tab-icon-color(#ddd);
            @include mdc-tab-states-color(#686868);

            @include mdc-tab-active-icon-color(#fff);
            @include mdc-tab-active-text-label-color(#fff);
            @include mdc-tab-indicator-underline-color(#8cb7b8);

            &__text-label {
                font-size: 12px;
            }
        }
    }

    .tabs__panels {
        display: flex;
        flex: 1;
        overflow-y: auto;
    }
}
