@import "@material/tab-bar/mdc-tab-bar";
@import "@material/tab-scroller/mdc-tab-scroller";
@import "@material/tab-indicator/mdc-tab-indicator";
@import "@material/tab/mdc-tab";

harmonized-tabs {
    height: 100%;
    display: flex;
    flex-direction: column;

    .mdc-tab-bar {
        //@include mdc-tab-icon-color(#5f6b7f);

        .mdc-tab {
            line-height: 1.25rem;

            @include mdc-tab-height(40px);

            @include mdc-tab-ink-color(#686868);
            @include mdc-tab-states-color(#686868);

            @include mdc-tab-active-icon-color(#fff);
            @include mdc-tab-active-text-label-color(#fff);
            @include mdc-tab-indicator-underline-color(#99ace5);
        }
    }

    .tabs__panels {
        height: 100%;
        display: flex;
    }
}
