<header class="hv-topbar mdc-top-app-bar" id="app-bar">
    <div class="mdc-top-app-bar__row hv-topbar__header">
        <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
            <button class="hv-button-icon material-icons mdc-top-app-bar__navigation-icon mdc-icon-button"
                data-target="navigation">menu</button>
            <span class="mdc-top-app-bar__title"></span>
        </section>
        <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end">
            <button class="hv-button-icon material-icons mdc-top-app-bar__navigation-icon mdc-icon-button"
                data-target="annotations">menu</button>
            <span class="mdc-top-app-bar__title"></span>
        </section>
    </div>
</header>