harmonized-topbar {
    @import '@material/button/mixins';
    @import '@material/icon-button/mixins';
    @import '@material/list/mixins';
    @import '@material/menu-surface/mixins';
    position: relative;
    display: -inline-block;

    .mdc-top-app-bar {
        z-index: 99999;
        top: 0 !important;
        position: absolute;
        background-color: transparent !important;
        box-shadow: none !important;

        .mdc-top-app-bar__title {
            color: #fff;
            font-size: 16px;
            font-weight: normal;
        }

        .mdc-menu {
            border-radius: 1px;

            .mdc-menu__selection-group-icon {
                fill: #828282;
            }
        }

        .button-fullscreen-exit {
            /*button {
                @include mdc-button-filled-accessible(#e1514e);
                @include mdc-button-outline-color(#e1514e);
            }*/
        }

        .mdc-top-app-bar__action-item {
            margin-right: 10px;

            &:last-child {
                margin-right: 0;
            }
        }

        .mdc-menu {
            /*@include mdc-menu-surface-ink-color(#fff);/
            /*@include mdc-menu-surface-fill-color(#282828);*/
            
            background-color: transparent;

            .mdc-list {
                @include mdc-list-item-primary-text-ink-color(#fff);

                .mdc-list-item {
                    &--selected {
                        color: #fff;
                        background-color: #484848;

                        &::before,
                        &::after {
                            background-color: #484848;
                        }
                    }

                    &:hover {
                        background-color: #222;
                    }
                }
            }
        }
    }
}
