$primary: #e39b7d;
//$success: #1b6c1c;
$success: #a3be8c;
$warning: #f2d40d;
$danger: #bf616a;
$light: #f5f5f5;

$link: #8ac9bc;
$link-visited: #8ac9bc;

$active: #fcdabf;

$font-family-sans-serif: "Roboto", sans-serif;
