harmonized-zoom-slider {
    display: flex;
    align-items: center;

    .navbar-item {
        display: flex;
        align-items: center;
    }

    .zoom-slider {
        width: 130px;

        .noUi-handle {
            cursor: pointer;
        }
    }

    .zoom-value {
        margin: 0 30px;
    }

    &:not([dir="rtl"]) .noUi-horizontal .noUi-origin {
        left: auto;
        right: 0;
    }
    &:not([dir="rtl"]) .noUi-horizontal .noUi-handle {
        right: -17px;
        left: auto;
    }
}
