@keyframes spinAround {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.overlay {
  width: 100%;
  height: 100%;
  display: inline-block;
  box-sizing: border-box;
  opacity: 0.3;
  transition: opacity 200ms ease;
  cursor: pointer;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  border-radius: 2px;
  border: rgba(0, 0, 0, 0.25) 1px solid;
  box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.2);
  transition: background 200ms ease;
}
.overlay:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
.overlay__content {
  width: 100%;
  height: 100%;
  display: inline-block;
  border: 4px solid #fff;
}