.viewport {
    width: 100%;
    height: 100%;
    min-height: 500px;
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

    &-video {
        min-height: auto;
    }
    &-video, &-pdf {
        > harmonized-drawer{
            top: 0;
            height: 100% !important;
        }
    }

    &__content {
        width: 100%;
        height: 100%;
        flex: auto;
        display: flex;
        flex-direction: column;

        &--loading {
            opacity: 0.3;
        }

        > harmonized-embed {
            flex: 1
        }
        > harmonized-pager { 
            flex: 0;
        }

        .viewport__content-pager {
            padding: 0.5rem 0;
        }
    }

    &:hover {
        .button-navigation {
            opacity: 1;
        }

        .overlay {
            opacity: 1;
        }
    }

    .paging-label {
        text-align: center;
    }

    /* When stencil loads the newly rendered webcomponent (when infoshown==true),
    *  it inserts the web components into DOM, then goes through the render.
    *  Since the drawer doesn't have the css class .mdc-drawer on mount,
    *  it shakes the viewport for a split-second if not hidden
    */
    > harmonized-drawer:not(.mdc-drawer) {
        display: none;
    }

    // .hv-overlay {
    //     opacity: 0;
    //     border: #fff 6px solid;
    //     border-radius: 2px;
    //     box-shadow: rgba(0, 0, 0, 0.1) 0 0 2px 2px;
    //     background-color: transparent;
    //     transition: background, opacity 100ms ease;

    //     &:hover {
    //         background-color: rgba(60, 66, 69, 0.2);
    //     }

    //     &:active {
    //         background-color: rgba(60, 66, 69, 0.5);
    //     }
    // }

    // &:hover .hv-overlay {
    //     opacity: 1;
    // }
}
