@import '../../global/variables';
@import '@material/button/mdc-button';
@import '@material/icon-button/mdc-icon-button';
@import '@material/top-app-bar/mdc-top-app-bar';

harmonized-viewport {
    height: 100%;
    flex: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

    .button-navigation {
        opacity: 0.1;
        transition: opacity 200ms ease;

        z-index: 1;
        position: absolute;

        &--prev {
            left: 0;
        }

        &--next {
            right: 0;
        }

        button {
            &::before,
            &::after {
                border-radius: 2px;
            }
        }
    }

    // .hv-navigation__prev {
    //     border-top-left-radius: 2px;
    //     border-bottom-left-radius: 2px;
    // }

    // .hv-navigation__next {
    //     border-top-right-radius: 2px;
    //     border-bottom-right-radius: 2px;
    // }

    .viewport-content {
        width: 100%;
        height: 100%;
        flex: auto;
        display: flex;
        flex-direction: column;

        &--loading {
            opacity: 0.3;
        }
    }

    .paging__label {
        color: #a8a8a8;
        text-align: center;
        margin: 15px 15px 0 15px;

        &-value {
            color: #fff;
            font-weight: bold;
        }

        &-spacer--left::before {
            content: ' ';
        }
        &-spacer--right::after {
            content: ' ';
        }
    }

    // .hv-overlay {
    //     opacity: 0;
    //     border: #fff 6px solid;
    //     border-radius: 2px;
    //     box-shadow: rgba(0, 0, 0, 0.1) 0 0 2px 2px;
    //     background-color: transparent;
    //     transition: background, opacity 100ms ease;

    //     &:hover {
    //         background-color: rgba(60, 66, 69, 0.2);
    //     }

    //     &:active {
    //         background-color: rgba(60, 66, 69, 0.5);
    //     }
    // }

    // &:hover .hv-overlay {
    //     opacity: 1;
    // }

    .hv-main__content {
        margin: 0 30px;

        &:hover {
            .button-navigation {
                opacity: 1;
            }

            .overlay {
                opacity: 1;
            }
        }
    }
}
