@import "../../globals/variables.scss";

.hv-toolbar {
    padding: 0;
    border-bottom: #d3d3d3 1px solid;
    background-color: $light;

    .navbar-center {
        flex-grow: 1;
        justify-content: center;
    }

    // .navbar-separator:after {
    //     content: "";
    //     width: 1px;
    //     height: 100%;
    //     display: flex;
    //     margin-right: 0.75rem;
    //     background-color: #d3d3d3;
    // }

    .navbar-item {
        &.has-dropdown {
            .navbar-link {
                padding-right: 2rem;

                .icon ~ .text {
                    margin-left: 4px;
                }

                &:after {
                    font-size: 10px;
                }
            }
        }

        .tag {
            font-size: 1rem;
            padding: 0 0.5rem;

            &:hover {
                text-decoration: none;
                background-color: #e8e8e8;
            }
        }

        svg {
            height: 16px;
        }
    }

    .toolbar-page {
        padding: 0 0.75rem;
    }
}

@media screen and (min-width: 1024px) {
    .hv-toolbar .navbar {
        min-height: 3rem;
    }
}
