.hv-toolbar__content {
    padding-top: 3px; // extra padding because of topbar shadow

    .button {
        border-radius: 2px;
    }

    .bx--btn {
        svg {
            fill: #8a9294;
            transition: fill 200ms ease;
        }

        &:hover svg {
            fill: #333;
        }
    }
}
