@import "../../globals/variables.scss";
@import "@material/linear-progress/mdc-linear-progress";

harmonized-spinner {
    .progress-bar {
        @extend .mdc-linear-progress__bar;
        @extend .mdc-linear-progress--indeterminate;
        @include mdc-linear-progress-bar-color($primary);
        @include mdc-linear-progress-buffer-color(transparent);
        z-index: 99999;
        top: 0;
        width: 100%;
        display: block;
        position: absolute;
        border-top: #fff 1px solid;
    }
}
