.hv-navigation__list {
    margin-top: 1rem;

    li[class*='col'] {
        padding-left: 0.3rem;
        padding-right: 0.3rem;
        padding-bottom: 0.6rem;
    }

    li.hv-lazyload.hv-lazyload--loading {
        .hv-skeleton {
            display: inline-block;

            width: 90px;
            height: 120px;
            background: red;
        }
        a {
            display: none;
        }
    }

    li.hv-lazyload.hv-lazyload--complete {
        .hv-skeleton {
            display: none;
        }
        a {
            display: inline-block;
        }
    }

    li a {
        border-radius: 0px;
        transition: box-shadow 200ms ease;
    }

    li a:hover {
        box-shadow: 0 0 1px 3px #c9c9c9;
    }

    li.active a {
        box-shadow: 0 0 1px 4px #d97854;
    }

    .hv-lazyload {
        &--complete {
        }
    }

    img {
        width: 100%;
        margin: 0;
        padding: 0;
        display: block;
        box-shadow: 1px 1px 3px 1px rgba(76, 86, 106, 0.3);
        border: #fff 1px solid;
    }
}
