@import '../../globals/variables.scss';
@import '../../../node_modules/bulma/sass/utilities/_all.sass';

.navigation {
    box-sizing: border-box;

    .os-scrollbar {
        display: none;
    }

    &.is-loaded {
        .os-scrollbar {
            display: flex;
        }
    }
}

.navigation-content {
    width: 100%;
    height: 100%;
    background-color: $light;
}

.hv-navigation__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1.5rem;

    li {
        display: flex;
        padding: 3px;
    }

    li .skeleton {
    }

    li .skeleton,
    li .navigation-item {
        width: 90px;
        display: flex;
        flex-direction: column;

        .navigation-thumbnail {
            display: flex;
            border-radius: 1px;
            border: #fff 2px solid;
            transition: box-shadow 200ms ease;

            img {
                width: 100%;
                height: 100%;
                display: flex;
                transition: opacity 70ms ease;

                &.is-loaded {
                    border: $dark 1px solid;
                }
            }
        }

        .navigation-label {
            overflow: hidden;
            text-overflow: ellipsis;
            color: $grey;
            font-size: 14px;
            font-weight: 500;
            text-align: center;
            margin-top: 2px;
            margin-bottom: 3px;
        }
    }

    li.active .navigation-item {
        .navigation-thumbnail {
            box-shadow: 0 0 0 3px $success;
            img {
                opacity: 1;
                filter: grayscale(0%);
            }
        }
    }

    li .navigation-item:hover .navigation-thumbnail img {
        opacity: 1;
        filter: grayscale(0%);
    }

    li .navigation-item .navigation-thumbnail img {
        margin: 0;
        padding: 0;
        opacity: 0.8;
        display: block;
        filter: grayscale(20%);
    }
}
