harmonized-navigation {
    display: block;
    flex: 0 0 auto;
    overflow-y: hidden;
    background-color: #cecacb;

    harmonized-image-list {
        &.mdc-image-list {
        }

        harmonized-image {
            position: relative;
        }
    }
}

harmonized-drawer harmonized-navigation {
    height: 100%;
}