.harmonized-viewer {
  font-family: "Barlow", sans-serif;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: $theme-color-background;

  a:link,
  a:visited {
    color: #054ada;
  }

  &:host {
    display: inline-block;
  }

  .hv-content {
    flex: auto;
    flex-direction: column;
  }
}
