.harmonized-viewer {
    font: 12px 'Nunito Sans', sans-serif;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: $theme-color-background;

    a:link,
    a:visited {
        color: #054ada;
    }

    &:host {
        display: inline-block;
    }

    .hv-navigation {
        width: 250px;
        height: 100%;
        overflow-x: hidden;
        overflow-y: scroll;
        border-right: #fff 1px solid;
    }

    .hv-main {
        flex: auto;
        display: flex;
        flex-direction: column;

        hv-viewport {
            width: 100%;
            flex: auto;
            display: inline-block;
        }
        
    }

    .hv-content {
        height: 100%;
        flex: 1 1 auto;
        display: flex;
        flex-direction: row;
    }
}
