.harmonized-viewer-theme--dark {
    @import "@material/button/mixins";
    @import "@material/icon-button/mixins";

    @import "@material/slider/mixins";

    @import "@material/tab-bar/mixins";
    @import "@material/tab-scroller/mixins";
    @import "@material/tab-indicator/mixins";
    @import "@material/tab/mixins";

    background-color: #181818;

    harmonized-topbar {
        .mdc-top-app-bar {
            background-color: #181818;

            button {
                @include mdc-button-filled-accessible(#181818);
                @include mdc-button-ink-color(#fff);

                .mdc-button__label {
                    font-size: 12px;
                }
            }
        }
    }

    harmonized-navigation {
        background-color: #181818;
    }
}
