harmonized-openseadragon {
    display: flex;
    align-items: center;
    flex: 1 1 auto;
    height: 100%;

    .button-navigation {
        opacity: 0;
        transition: opacity 200ms ease;

        z-index: 1;
        position: absolute;

        &--prev {
            left: 30px;
        }

        &--next {
            right: 30px;
        }
    }

    .openseadragon {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
    }
}
