harmonized-openseadragon {
    position: relative;
    display: flex;
    align-items: center;
    flex: 1 1 auto;
    height: 100%;
    width: 100%;

    .button-navigation {
        opacity: 0;
        transition: opacity 200ms ease;

        position: absolute;
        z-index: 2;

        &--prev {
            left: 30px;
        }

        &--next {
            right: 30px;
        }
    }

    .button-topbar-group {
        position: absolute;
        z-index: 4;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 48px;

        > .button-topbar {
            display: inline-block;
            margin-left: 10px;
        }
    }

    .openseadragon-container {
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
    }
    .openseadragon {
        position: relative;
        height: 100%;
        width: 100%;
    }
}
