harmonized-drawer {
    &.mdc-drawer {
        width: inherit;
        background-color: transparent;

        &--left {
            left: 0;
            right: initial;
        }

        &--right {
            left: initial;
            right: 0;

            &.mdc-drawer--closing {
                transform: translateX(100%);
            }
        }

        &--top,
        &--bottom {
            width: 100%;
        }

        .mdc-drawer__toolbar {
            display: flex;
            margin: 0 5px;
            justify-content: flex-end;
        }

        harmonized-button {
            button {
                &::before,
                &::after {
                    border-radius: 2px;
                }
            }
        }
    }
}
