harmonized-video {
    display: block;
    overflow: hidden;
    width: 100%;

    /*#harmonized-viewer-custom-video*/

    #harmonized-viewer-html5-video {
        > video {
            display: block;
            width: 100%;
        }
    }
}