harmonized-zoom-slider {
  display: flex;
  align-items: center;
}
harmonized-zoom-slider .navbar-item {
  display: flex;
  align-items: center;
}
harmonized-zoom-slider .zoom-slider {
  width: 130px;
}
harmonized-zoom-slider .zoom-slider .noUi-handle {
  cursor: pointer;
}
harmonized-zoom-slider .zoom-value {
  margin: 0 30px;
}
harmonized-zoom-slider:not([dir=rtl]) .noUi-horizontal .noUi-origin {
  left: auto;
  right: 0;
}
harmonized-zoom-slider:not([dir=rtl]) .noUi-horizontal .noUi-handle {
  right: -17px;
  left: auto;
}