harmonized-overlay {
    cursor: pointer;
    width: 100px;
    height: 100px;
    display: block;
    border-radius: 2px;
    border: #ccc 4px solid;
    background-color: rgba(255, 255, 255, 0.3);

    &:hover {
        background-color: rgba(255, 255, 255, 0.1);
    }
}
