$ns: hv;

$toolbar-primary-background-color: #00838F;

$toolbar-border-color: #dadada;
$toolbar-background-color: #eee;
$toolbar-background-hover-color: #d2d2d2;
$toolbar-button-icon-color: #787878;

$toolbar-button-group-background-color: #fff;
$toolbar-button-group-icon-color: #a8a8a8;

$viewport-background-color: #dfdfdf;