$ns: hv;

$toolbar-primary-background-color: #3f464c;
$toolbar-primary-button-icon-color: #b0bec5;
$toolbar-primary-button-icon-hover-color: #fff;
$toolbar-primary-button-hover-background-color: rgba(16, 31, 39, 0.5);

$toolbar-secondary-separator-color: #e1e1e1;

$toolbar-border-color: #dadada;
$toolbar-background-color: #eee;
$toolbar-background-hover-color: #d2d2d2;
$toolbar-button-icon-color: #787878;

$toolbar-button-group-background-color: #fff;
$toolbar-button-group-icon-color: #a8a8a8;

$viewport-background-color: #dfdfdf;