$ns: hv;

$header-background-color--light: #00838F;
$toolbar-background-color--light: #eee;
$toolbar-border-color--light: #eee;
$toolbar-button-icon-color--light: #5c5c5c;
$toolbar-button-background-color--light: #eee;
$viewport-background-color--light: #616161;

$header-background-color--dark: #222222;
$toolbar-background-color--dark: #2c2c2c;
$toolbar-border-color--dark: #111111;
$toolbar-button-icon-color--dark: #8c8c8c;
$toolbar-button-background-color--dark: #2c2c2c;
$viewport-background-color--dark: #525252;