$prefix: harmonized-viewer;

.#{$prefix} {
  display: flex;
  flex-flow: column;
  background: #f6f7fa;

  & &-header {
    color: #fff;
    padding: 0.8rem 1.4rem;
    background: #2c2c2c;
  }

  & &-toolbar {
    border-bottom: #d9d8d9 2px solid;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    background: #eee;

    &.navbar {
      padding: 0.5rem;
    }

    li {
      margin-right: 0.3rem;
    }

    li.separator {
      border-right: #d9d8d9 1px solid;
    }

    &-button {
      text-decoration: none;
      border: transparent 1px solid;
      border-radius: 2px;
      background: transparent;

      &:link,
      &:visited {
        color: #6c6c6c;
      }

      &.nav-link {
        display: flex;
        align-items: center;
      }

      &.active {
        animation: shadow-inset-center 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
        border-color: #bbb;
        background: #d9d8d9;
      }
    }

    &-button:hover {
      cursor: pointer;
      background: #d9d8d9;
      transition: background-color linear 0.2s;
    }

    &-button:active {
      color: #3c3c3c;
      border-color: #bbb;
      background: #d9d8d9;
      animation: shadow-inset-center 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    }

    &-button:active span {
      position: relative;
      top: 0.5px;
      left: 0.5px;
    }

    &-zoom .irs.irs--round {
      height: 26px;
    }

    &-zoom .irs.irs--round .irs-line,
    &-zoom .irs.irs--round .irs-bar {
      top: 20px;
    }

    &-zoom .irs.irs--round .irs-line {
      background-color: rgba(0, 0, 0, 0.05);
    }

    &-zoom .irs.irs--round .irs-handle {
      cursor: pointer;
      top: 12px;
      width: 20px;
      height: 20px;
      border: none;
      background-color: #fff;
    }
  }

  & &-columns {
    height: 100%;
    display: flex;
  }

  & &-main {
    flex: 3;
    height: 100%;

    .error {
      display: flex;
      flex-flow: column;
      text-align: center;

      &-icon {
        display: block;
        cursor: default;
        user-select: none;
        color: rgba(0, 0, 0, 0.15);
        font-size: 5rem;
        margin-bottom: 1rem;
      }

      &-text {
        display: block;
        color: rgba(0, 0, 0, 0.5);
      }
    }
  }

  & &-viewport {
    flex: 1;
    height: 100%;
  }

  .openseadragon-canvas {
    outline: none;
  }

  & &-metadata {
    flex: 1 0 0;
    background: #fff;
  }

  @keyframes shadow-inset-center {
    0% {
      box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      box-shadow: inset 0 0 14px 0px rgba(0, 0, 0, 0.2);
    }
  }

  .spinner {
    animation: rotate 2s linear infinite;
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px;
    width: 50px;
    height: 50px;
  }
  .spinner .path {
    stroke: #3a87f2;
    stroke-linecap: round;
    animation: dash 1.5s ease-in-out infinite;
  }

  @keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes dash {
    0% {
      stroke-dasharray: 1, 150;
      stroke-dashoffset: 0;
    }
    50% {
      stroke-dasharray: 90, 150;
      stroke-dashoffset: -35;
    }
    100% {
      stroke-dasharray: 90, 150;
      stroke-dashoffset: -124;
    }
  }
}

@import "../../node_modules/bootstrap/scss/bootstrap.scss";