@import "variables";
@import "mixins";
@import "node_modules/bootstrap/scss/bootstrap";

.#{$ns}-viewer,
.#{$ns}-button,
.dropdown-menu {
  font-size: 14px;
  font-family: "Noto Sans", Helvetica, Arial, sans-serif;
}

.#{$ns}-viewer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  background-color: #616161;

  &,
  & *,
  &::before,
  &::after {
    box-sizing: border-box;
  }

  .openseadragon-canvas {
    outline: none;
  }
}

.#{$ns}-header {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  flex-shrink: 0;
  z-index: 10;
}

.#{$ns}-manifest-label {
  color: #fff;
  font-size: 1.1rem;
  font-weight: normal;
  margin: 0;
  padding: 0;
  letter-spacing: 0.02em;
}

.#{$ns}-button {
  padding: 0.65rem 1.2rem;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 0;

  &.dropdown-toggle::after {
    @include dropdown-toggle;
  }

  &.dropdown-toggle {
    ~ .dropdown-menu {
      font-size: inherit;
      padding: 0.4rem;

      .dropdown-item {
        padding: 0.4rem 0.6rem;
        text-align: center;
      }
    }
  }

  i {
    font-size: 20px;
    margin-right: 10px;
  }

  &__icon > i {
    margin-right: 0;
  }

  &:not([disabled]) {
    cursor: pointer;
  }

  &[disabled] {
    cursor: not-allowed;
  }

  &:active,
  &:focus {
    outline: none;
    box-shadow: none;
  }
}

.#{$ns}-dropdown__display {
  border-radius: 2px;

  &.dropdown-toggle::after {
    @include dropdown-toggle;
  }

  .dropdown-item {
    i {
      color: #3f464c;
      font-size: 26px;
    }
  }
}

.#{$ns}-toolbar {
  margin-right: 0;
  margin-left: 0;
  align-items: center;

  &__section {
    display: flex;
  }

  & &__controls {
    display: flex;
    align-items: center;

    &-text {
      padding: 0 0.5rem;
    }

    .form-control {
      height: 100%;
      font-size: 13px;
      margin: 0 1px;
      padding: 0.25rem 0.5rem;
      text-align: center;
      border: none;
      border-radius: 0;
      outline: none;
      box-shadow: none;
    }

    .dropdown {
      .btn.dropdown-toggle::after {
        color: #e1e2e1;
      }
    }

    .#{$ns}-button {
      height: 100%;
      padding: 0.25rem 0.5rem;
      border-radius: 2px;
      background-color: #fff;

      &__icon > i {
        font-size: 18px;
      }
    }
  }

  &-group {
    .#{$ns}-button {
      &:first-child {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        margin-right: 2px;
      }

      &:last-child {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        margin-left: 2px;
      }
    }
  }

  .#{$ns}-paging {
    display: flex;
    align-items: center;
    margin-left: auto;
  }

  .#{$ns}-zoom {
    width: 40px;
    text-align: center;
  }

  .#{$ns}-button__display {
    span {
      font-size: 0.8rem;
      margin-left: 0.5rem;
    }
  }
}

.#{$ns}-overlay {
  width: 100%;
  height: 100%;
  display: none;
  overflow: auto;
  position: absolute;
  background-color: #414141;

  &--open {
    display: block;
  }

  .mCSB_inside {
    .mCSB_container {
      margin-right: 0;
    }
  }
}

.#{$ns}-sidebar {
  display: none;
  width: 300px;
  height: 100%;
  overflow: auto;
  position: absolute;
  background-color: #f5f5f5;

  .mCSB_scrollTools_vertical {
    width: 8px;
    .mCSB_dragger {
      .mCSB_dragger_bar {
        width: 8px;
        border-radius: 2px;
      }
    }
    .mCSB_draggerRail {
      width: 6px;
      border-radius: 0;
      background-color: #424242;
    }
  }

  .mCSB_inside {
    .mCSB_container {
      margin-right: 0;
    }
  }

  &--open {
    display: block;
  }

  &__right {
    left: auto;
    right: 0;
    margin-right: -100%;

    &.#{$ns}-sidebar--open {
      margin-right: 0;
    }
  }

  &__navigation {
    width: 300px;
    background-color: #414141;
  }

  & &-title,
  & &-content {
    padding-left: 30px;
  }

  & &-title {
    font-weight: normal;
    margin: 2rem 0;
  }

  &__annotations .#{$ns}-annotations {
    font-size: 0.8rem;

    dt {
      font-weight: 600;
      margin: 0 0 0.25rem 0;
    }
    dd {
      padding: 0;
      margin: 0 0 1.25rem 0;
      overflow: auto;
    }
  }
}

.hv-tooltip {
  .tooltip-inner {
    border-radius: 2px;
  }
}

.#{$ns}-navigation {
  background-color: #515151;

  ol {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;

    li {
      .#{$ns}-navigation__item {
        opacity: 0.7;
        width: 90px;
        height: 120px;
        color: #fff;
        display: flex;
        margin: 0.4rem;
        text-align: center;
        text-decoration: none;
        flex-direction: column;
        border: #000 1px solid;
        box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5), 0 2px 8px rgba(0, 0, 0, 0.3);
        transition: all 0.1s ease;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;

        &:hover,
        &:focus,
        &.hv-navigation__item--active {
          outline: 0;
          opacity: 1;
          box-shadow: 0 0 0 0.2rem #757575;
        }

        &.hv-navigation__item--active {
          box-shadow: 0 0 0 0.2rem #e0e0e0;
        }

        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

.#{$ns}-navigation {
  padding: 1rem 1.25rem;

  &__display {
    margin-bottom: 1rem;

    .btn-group {
      width: 100%;
    }

    .#{$ns}-button {
      background: #cfd8dc;
    }
  }
}

.#{$ns}-main {
  flex: auto;
  display: flex;
  overflow: hidden;
  position: relative;
}

.#{$ns}-content {
  flex: 0 0 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;

  &--push-left {
    padding-left: 300px;
  }

  &--push-right {
    padding-right: 350px;
  }

  &__container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}

.#{$ns}-viewport {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  .navigator {
    border: #000 4px solid !important;
  }

  &__prev {
    left: 0.5rem;
  }

  &__next {
    right: 0.5rem;
  }

  &__prev,
  &__next {
    color: #bdbdbd;
    cursor: pointer;
    opacity: 0;
    display: flex;
    align-items: center;
    font-weight: bold;
    text-decoration: none;
    padding: 1.5rem 1rem;
    z-index: 9999;
    position: absolute;
    border: none;
    border-radius: 2px;
    background-color: #616161;
    transition: all 0.25s ease;

    .fas {
      font-size: 30px;
    }

    &:hover {
      background-color: #515151;
    }
  }

  &:hover &__prev,
  &:hover &__next {
    opacity: 1;
  }

  &#{&}--empty::after {
    color: rgba(0, 0, 0, 0.04);
  }
}

.#{$ns}-spinner {
  color: #3f464c !important;
}

.#{$ns}-error {
  width: 400px;
  text-align: center;
  line-height: 1.5rem;

  & &-icon {
    width: 5rem;
    height: 5rem;
    display: inline-block;
    background-color: #4c4c4c;
  }

  &-text {
    color: #ccc;
    margin-top: 0.5rem;
  }

  .#{$ns}-debug {
    color: #666;
    padding: 0.5rem 0.8rem;
    margin-top: 1rem;
    font: 0.8rem Consolas, "Courier New", monospace;
    background-color: rgba(255, 255, 255, 0.9);
  }
}

.#{$ns}-pageslider {
  width: 100%;

  .noUi-tooltip {
    display: none;
  }
  .noUi-active .noUi-tooltip {
    display: block;
  }
}

.#{$ns}-search {
  .fas {
    color: #e0e0e0;
    font-size: 1.4rem;
    margin-left: 2rem;
  }

  &__input {
    color: #eee;
    width: 100%;
    padding: 1rem 1.5rem;
    border: none;
    background-color: transparent;

    &:active,
    &:focus {
      outline: none;
    }
  }
}

.#{$ns}-thumbnail.#{$ns}-lazy {
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(25%, #000),
    color-stop(37%, #212121),
    color-stop(63%, #000)
  ) !important;
  background: -webkit-linear-gradient(left, #000 25%, #212121 37%, #000 63%) !important;
  background: linear-gradient(90deg, #000 25%, #212121 37%, #000 63%) !important;
  background-size: 400% 100% !important;
  -webkit-animation: #{$ns}-placeholder 1.4s ease infinite;
  animation: #{$ns}-placeholder 1.4s ease infinite;
}

@keyframes #{$ns}-placeholder {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
