@import "variables";

.#{$ns}-viewer {
  background-color: $viewport-background-color--light;

  .#{$ns}-header {
    background-color: $header-background-color--light;
  }

  .#{$ns}-toolbar {
    border-top: $toolbar-border-color--light 1px solid;
    border-bottom: $toolbar-border-color--light 1px solid;
    background-color: $toolbar-background-color--light;

    .#{$ns}-button {
      color: $toolbar-button-icon-color--light;

      &-toggle--active {
        color: #3c3c3c;
        background: rgba(0, 0, 0, 0.2);
      }
    }
  }
}
