@import "variables";

.#{$ns}-viewer {
  background-color: #525252;

  .#{$ns}-header {
    background-color: #222;
  }

  .#{$ns}-toolbar {
    height: 50px;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    border-top: #111 1px solid;
    border-bottom: #111 1px solid;
    background-color: #2c2c2c;

    .mdl-button {
      color: #8c8c8c;
      min-width: 50px;
    }
  }

  .#{$ns}-spinner {
    .mdl-spinner {
      .mdl-spinner__layer {
        border-color: #e0e0e0;
        border-width: 5px;
        .mdl-spinner__circle-clipper {
          .mdl-spinner__circle {
            border-width: 5px;
          }
        }
      }
    }
  }
}
