@import "variables";

.#{$ns}-viewer {
  background-color: $viewport-background-color;
}

.#{$ns}-header {
  .#{$ns}-toolbar {
    &__primary {
      z-index: 1;
      // box-shadow: 0 1px 2px 3px rgba(0, 0, 0, 0.1);
      border-bottom: none;
      background-color: $toolbar-primary-background-color;

      .#{$ns}-button {
        color: $toolbar-primary-button-icon-color;
        padding: 0.9rem 1.4rem;

        &:hover {
          color: $toolbar-primary-button-icon-hover-color;
          background-color: $toolbar-primary-button-hover-background-color;
        }
      }
    }
  }
}

.#{$ns}-toolbar {
  &__secondary {
    box-shadow: 0 1px 5px 3px rgba(63, 70, 76, 0.2);
  }
}

.#{$ns}-toolbar {
  border-bottom: $toolbar-border-color 3px solid;
  background-color: $toolbar-background-color;

  & .#{$ns}-toolbar__section {
    border-right: $toolbar-secondary-separator-color 2px solid;
  }

  & &__group {
    .form-control,
    .#{$ns}-button {
      background-color: $toolbar-button-group-background-color;

      &:hover {
        background-color: $toolbar-button-group-background-color;
      }

      &__icon > i {
        color: $toolbar-button-group-icon-color;
      }
    }
  }

  .#{$ns}-button {
    color: $toolbar-button-icon-color;
    background-color: transparent;

    &:hover {
      color: $toolbar-button-icon-color;
      background-color: $toolbar-background-hover-color;
    }

    &:not(:disabled):not(.disabled):active,
    &:not(:disabled):not(.disabled).active {
      background-color: #414141;
    }

    &-toggle--active {
      color: #3c3c3c;
      background: rgba(0, 0, 0, 0.2);
    }
  }
}
