harmonized-image {
    @import '../../global/mixins';

    display: inline-block;
    position: relative;

    &.is-ghost,
    &.is-loading {
        .mdc-image-list__image-aspect-container,
        .mdc-image-list__supporting {
            @include ghost();
        }
    }

    &.is-loaded {
        cursor: pointer;
    }

    .mdc-image-list__image-aspect-container {
        opacity: 0.5;
        filter: grayscale(50%);
        align-content: center;
        transition: all 200ms ease;
    }

    &:hover,
    &.is-active {
        .mdc-image-list__image-aspect-container {
            opacity: 1;
            filter: grayscale(0%);
        }
    }

    .mdc-image-list__image {
        padding: 0;
        border: #111 2px solid;
    }

    .mdc-image-list__supporting {
        margin: 3px 0 10px 0;
        padding: 1px 10px;
        justify-content: center;

        .mdc-image-list__label {
            color: #686868;
            letter-spacing: 0;
            font-size: 12px;
            font-weight: 500;
            line-height: 20px;
            letter-spacing: 1px;
            margin: 0;
            padding: 1px 5px;
            border-radius: 1px;
            text-transform: uppercase;
        }
    }

    &:hover,
    &.is-active {
        .mdc-image-list__image {
            opacity: 1;
            filter: grayscale(0%);
        }

        // &:focus {
        //     outline: none;
        //     .mdc-image-list__image-aspect-container {
        //         outline: $active 3px solid;
        //     }
        // }

        &.is-active {
            .mdc-image-list__image-aspect-container {
                outline: #e4e0ea 2px solid;
                .mdc-image-list__image {
                }
            }
            .mdc-image-list__supporting {
                .mdc-image-list__label {
                    color: #fff;
                }
            }
        }
    }

    &:focus {
        outline: none;
    }
}
