@import '../../globals/mixins.scss';
@import 'bulma/sass/utilities/_all.sass';
@import '@material/image-list/mdc-image-list.scss';

harmonized-image {
    $active: #f4e6d4;

    //@extend .mdc-image-list__item;

    display: inline-block;
    position: relative;

    // .mdc-image-list__image {
    //     opacity: 0;
    // }

    // &.is-loaded {
    //     .mdc-image-list__image {
    //         opacity: 1;
    //     }
    // }

    &.is-ghost,
    &.is-loading {
        .mdc-image-list__image-aspect-container {
            @include ghost();
        }
    }

    &.is-loaded {
        cursor: pointer;
    }

    .mdc-image-list__image-aspect-container {
        align-content: center;
        transition: box-shadow 200ms ease;
        background-color: #161616;
    }

    .mdc-image-list__image {
        opacity: 0.8;
        filter: grayscale(20%);
        padding: 0;
        transition: opacity 70ms ease;
        border: transparent 2px solid;
    }

    .mdc-image-list__supporting {
        padding: 1px 10px;
        margin-top: 5px;
        justify-content: center;

        .mdc-image-list__label {
            color: #fff;
            letter-spacing: 0;
            text-transform: uppercase;
            font-size: 13px;
            font-weight: bold;
            line-height: 20px;
            margin: 0;
            padding: 1px 5px;
            border-radius: 1px;
        }
    }

    &:hover,
    &.is-active {
        .mdc-image-list__image {
            opacity: 1;
            filter: grayscale(0%);
        }
        .mdc-image-list__supporting {
            padding: 1px 10px;
            margin-top: 5px;
            justify-content: center;

            .mdc-image-list__label {
                color: #fff;
            }
        }

        // &:focus {
        //     outline: none;
        //     .mdc-image-list__image-aspect-container {
        //         outline: $active 3px solid;
        //     }
        // }

        &.is-active {
            .mdc-image-list__image-aspect-container {
                outline: $active 2px solid;
            }
            .mdc-image-list__supporting {
                .mdc-image-list__label {
                    color: $active;
                }
            }
        }
    }

    // &:focus {
    //     outline: $info 2px solid !important;
    //     outline-offset: 5px !important;
    // }
}
