
harmonized-image {
    @import '../../global/mixins';
    @import '@material/animation/functions';
    display: inline-block;
    position: relative;

    &.is-ghost .mdc-image-list__image-aspect-container,
    &.is-loading .mdc-image-list__image-aspect-container,
    &.is-ghost .mdc-image-list__supporting,
    &.is-loading .mdc-image-list__supporting {
        @include ghost();
    }

    &.is-loaded {
        cursor: pointer;
    }

    .mdc-image-list__image-aspect-container {
         opacity: 0.8;
        //opacity: 1;
        filter: grayscale(50%);
        align-content: center;
        transition: all 200ms ease;

        .mdc-image-list__image {
            border: #fff 1px solid;
            transition: boxShadow 175ms $mdc-animation-standard-curve-timing-function;
        }
    }

    &:hover,
    &.is-active {
        .mdc-image-list__image-aspect-container {
             opacity: 1;
             filter: grayscale(0%);
        }
    }

    .mdc-image-list__supporting {
        margin: 7px 0 0 0;
        padding: 1px 10px;
        justify-content: center;

        .mdc-image-list__label {
            letter-spacing: 0;
            font-size: 14px;
            font-weight: normal;
            line-height: 20px;
            letter-spacing: 1px;
            margin: 0;
            padding: 1px 5px;
            border-radius: 1px;
            text-transform: uppercase;
        }
    }

    &:hover,
    &.is-active {
        .mdc-image-list__image {
             opacity: 1;
             filter: grayscale(0%);
        }
    }

    &:focus {
        outline: none;
    }

    ul.inv {
        clip: rect(1px,1px,1px,1px);
        height: 1px;
        margin: 0;
        overflow: hidden;
        position: absolute;
        width: 1px;
    }
}
