harmonized-pager {
    @import '@material/slider/mixins';

    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .slider-control {
        width: 300px;
        margin: 0 15px;
    }

    .mdc-slider {
        @include mdc-slider-color-accessible(#f6e0b5);
        @include mdc-slider-rail-color(#323232, 1);
        @include mdc-slider-focus-halo-color(#f6e0b5);
    }

    .paging-status {
        text-align: center;
        margin-bottom: -10px;

        &__value {
            font-weight: 500;
        }

        &__spacer--left::before,
        &__spacer--right::after {
            content: ' ';
        }
    }

    .pager__controls {
        display: flex;
        align-items: center;
        flex-direction: row;
    }
}
